@charset "UTF-8";
* {
  outline-style: none;
  margin: 0;
  padding: 0; }

img {
  border: 0 none; }

body {
  font-size: 11px;
  color: #000000;
  font-weight: normal; }

b, strong {
  font-weight: 700; }

u {
  text-decoration: underline; }

s {
  text-decoration: line-through; }

p {
  margin: 0; }

i {
  font-style: italic; }

big {
  text-transform: uppercase; }

small {
  text-transform: lowercase; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  color: #000000; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

body {
  font-family: 'zeppelin_32regular';
  margin: 0;
  padding: 0;
  color: #000000;
  float: left;
  width: 100%;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  overflow-x: hidden;
  font-weight: normal;
}

a:link, a:visited {
  color: #000000;
  outline: 0; }

a:hover {
  text-decoration: none; }



@font-face {
  font-family: 'zeppelin_32regular';
  src: url('fonts/zeppelin32-webfont.eot');
  src: url('fonts/zeppelin32-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/zeppelin32-webfont.woff2') format('woff2'),
  url('fonts/zeppelin32-webfont.woff') format('woff'),
  url('fonts/zeppelin32-webfont.svg#zeppelin_32regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zeppelin_32bold';
  src: url('fonts/zeppelin32bold-webfont.eot');
  src: url('fonts/zeppelin32bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/zeppelin32bold-webfont.woff2') format('woff2'),
  url('fonts/zeppelin32bold-webfont.woff') format('woff'),
  url('fonts/zeppelin32bold-webfont.svg#zeppelin_32bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  min-height: 100%;
  height: 100%; }


.header{
  float: left;
  background: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
  min-height: 760px;
}
.header-abs{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  float: left;
  min-height: 760px;
}
.wrapper{
  position: relative;
  max-width: 1124px;
  display: block;
  margin: auto;
  padding: 0 25px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}
.logo{
  width: 150px;
  margin: 40px 0 0 0;
}
.logo img{
  width: 100%;
  float: left;
}
.header-table-cell{
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  top: -90px;
}
.header-content{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: -60px 0 0 0;
}
.header-content-box{
  float: left;
  width: 50%;
}
.header-content-main{
  float: left;
  width: 100%;
}
.header-content-main h3{
  font-family: 'zeppelin_32bold';
  float: left;
  width: 100%;
  font-size: 52px;
  line-height: 1.3;
  color: #FFFFFF;
  font-weight: normal;
  margin: 0 0 35px 0;
}
.header-content-main p{
  float: left;
  width: 100%;
  font-size: 19px;
  line-height: 1.7;
  color: #FFFFFF;
  margin-bottom: 50px;
  font-weight: normal;
}
.header-content-exchanges{
  float: left;
  width: 100%;
}
.header-content-exchanges li{
  display: inline-block;
  vertical-align: middle;
  opacity: .8;
}
.header-content-exchanges li + li{
  margin-left: 55px;
}

.header-form{
  background: #081229;
  padding: 25px 30px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  float: right;
  border-radius: 1px;
  margin: -30px 0 0 0;
}
.header-form-title{
  font-weight: normal;
  float: left;
  width: 100%;
  font-size: 28px;
  line-height: 1.6;
  color: #FFFFFF;
  margin: 0 0 15px 0;
}
.header-form-field{
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.header-form-field input{
  width: 100%;
  color: #000000;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1;
  border: none;
  padding: 15px 10px;
  border-radius: 1px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
}
.header-form-field input.error{
  border: 1px solid red;
}
.header-form-field p{
  font-size: 13px;
  color: rgba(255,255,255,.5);
  margin: 10px 0 0 0;
  font-weight: normal;
}
.header-form-button{
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 24px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  border: none;
  text-decoration: none!important;
  background: #12b6d4;
  background: -webkit-gradient(linear,left top,right top,from(#12b6d4),color-stop(76%,#14eadb));
  background: linear-gradient(90deg,#12b6d4 0,#14eadb 76%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#12b6d4",endColorstr="#14eadb",GradientType=1);
}

.header-trigger{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
.header-trigger-item{
  float: left;
  width: 21.25%;
  margin-right: 5%;
}
.header-trigger-item:last-child{
  margin-right: 0;
}
.header-trigger-ico{
  float: left;
  width: 39px;
  height: 32px;
  background-size: contain;
  margin: 0 0 25px 0;
  background-repeat: no-repeat;
}
.header-trigger-ico-1{
  background-image: url(./images/trigger-1.svg);
}
.header-trigger-ico-2{
  background-image: url(./images/trigger-2.svg);
}
.header-trigger-ico-3{
  background-image: url(./images/trigger-3.svg);
}
.header-trigger-ico-4{
  background-image: url(./images/trigger-4.svg);
}
.header-trigger-item-title{
  float: left;
  width: 100%;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 1;
  margin: 0 0 10px 0;
}
.header-trigger-item-text{
  float: left;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(255,255,255,.6);
}


.products{
  float: left;
  width: 100%;
  padding: 50px 0;
  background: url(./images/bg-white.jpg);
  background-size: cover;
  background-position: center;
}
.products-title{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 48px;
  line-height: 1.6;
  margin-bottom: 55px;
}
.products-title:after{
  content: '';
  width: 60px;
  height: 3px;
  background: #00BDD7;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  margin: 0 0 0 -30px;
  z-index: 1;
}
.products-description{
  max-width: 370px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 1.55;
  color: rgba(0,0,0,.6);
  display: block;
  margin: auto;
  margin-bottom: 40px;
}
.products-wrap{
  float: left;
  width: 100%;
}
.products-item{
  position: relative;
  float: left;
  width: 31.3%;
  margin-right: 3%;
  background: #263147;
  padding: 35px;
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 309px;
  padding-bottom: 50px;
}
.products-item:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 170px;
  background: url(./images/rectangle.svg);
  background-position: top right;
  background-repeat: no-repeat;
}
.products-item:last-child{
  margin-right: 0;
}
.products-item-ico{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  z-index: 1;
}
.products-item-ico-1{
  background-image: url(./images/product-ico-1.svg);
}
.products-item-ico-2{
  background-image: url(./images/product-ico-2.svg);
}
.products-item-ico-3{
  background-image: url(./images/product-ico-3.svg);
}
.products-item-title{
  float: left;
  width: 90%;
  color: #FFFFFF;
  font-size: 26px;
  line-height: 1.35;
  margin: 0 0 20px 0;
}
.products-item-text{
  float: left;
  width: 90%;
  font-size: 16px;
  line-height: 1.65;
  color: rgba(255,255,255,.6);
  margin: 0 0 20px 0;
}
.products-item-arrow{
  position: absolute;
  left: 35px;
  bottom: 35px;
  width: 91px;
  height: 16px;
  float: left;
  background: url(./images/arrow-right.svg);
  background-size: cover;
}

.info{
  float: left;
  width: 100%;
  background: url(./images/bg-dark.jpg);
  background-size: cover;
  padding: 60px 0;
  padding-bottom: 20px;
  background-attachment: fixed;
  background-position: center;
}
.info .wrapper{
  overflow: inherit;
}
.info-content{
  float: left;
  width: 50%;
}
.info-content-title{
  font-size: 48px;
  line-height: 1.3;
  color: #FFFFFF;
  margin: 0 0 25px 0;
  float: left;
  width: 100%;
}
.info-content-list{
  float: left;
  width: 100%;
}
.info-content-list li{
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  color: #FFFFFF;
  padding-left: 35px;
  box-sizing: border-box;
}
.info-content-list li:after{
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 4px;
  background: url(./images/mark.svg);
}
.info-content-list li b{
  font-size: 22px;
  font-weight: normal;
}
.info-video{
  float: left;
  width: 50%;
}
.info-video-wrap{
  width: 100%;
  max-width: 500px;
  height: 280px;
  display: block;
  margin: auto;
  background: #263147;
}

.info-form{
  position: relative;
  float: left;
  width: 110%;
  margin-left: -5%;
  padding: 40px 5px;
  background: #ffffff;
  box-sizing: border-box;
  background: url(./images/bg-white.jpg);
  background-size: cover;
  background-position: center;
  bottom: -82px;
}
.info-form-wrapper{

}
.info-form-field{
  float: left;
  width: 32%;
}
.info-form-field input{
  width: 100%;
  color: #000000;
  background: #FFFFFF;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #e4e4e4;
  padding: 15px 10px;
  border-radius: 1px;
  box-sizing: border-box;
}
.info-form-field input.error{
  border: 1px solid red;
}
.info-form-field+.info-form-field{
  margin-left: 2%;
}
.info-form-field-button{
  position: relative;
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 18px 24px;
  border-radius: 3px;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  border: none;
  text-decoration: none!important;
  background: #12b6d4;
  background: -webkit-gradient(linear,left top,right top,from(#12b6d4),color-stop(76%,#14eadb));
  background: linear-gradient(90deg,#12b6d4 0,#14eadb 76%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#12b6d4",endColorstr="#14eadb",GradientType=1);
}

.footer{
  float: left;
  width: 100%;
  background: #06122B;
  padding: 100px 0 60px 0;
}
.footer-txt{
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255,255,255,.5);
}
.footer-txt p{
  float: left;
  width: 100%;
}
.footer-txt p + p{
  margin-top: 15px;
}
.footer-logo{
  width: 25px;
  display: block;
  margin: auto;
  margin-bottom: 35px;
}
.footer-logo img{
  width: 100%;
}

@media screen and (max-width: 980px){
  html, body{
    height: auto;
    min-height: inherit;
  }
  .header-content-box{
    width: 100%;
    margin-bottom: 60px;
  }
  .header-content-main p {
    margin-bottom: 25px;
  }
  .header-form{
    margin: 0 0 0 -25px;
    float: left;
    padding: 25px;
    max-width: inherit;
    width: 106%;
  }
  .header-abs{
    position: relative;
    float: left;
    width: 100%;
  }
  .header-trigger{
    position: relative;
    float: left;
    width: 100%;
  }
  .header-table-cell{
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    top: 0;
    margin: 60px 0 0 0;
  }
  .header-content-main h3{
    margin: 0 0 15px 0;
  }
  .header-trigger-item {
    float: left;
    width: 44.25%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  .header-trigger-item+.header-trigger-item{
    margin-top: 40px;
  }
  .header-trigger{
    margin-bottom: 50px;
  }
  .products-item{
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    min-height: inherit;
  }
}

@media screen and (max-width: 767px) {
  .header-content-main h3,
  .products-title,
  .info-content-title{
    font-size: 42px;
    line-height: 1.4;
  }
  .header-form{
    width: 108%;
  }
  .header-trigger-item{
    width: 100%;
    margin-right: 0;
  }
  .header-trigger-item-title{
    width: auto;
    margin: 5px 0 0 0;
  }
  .header-trigger-ico{
    margin: 0 15px 15px 0;
  }
  .info-form{
    width: 100%;
    margin: 0;
  }
  .products{
    padding: 40px 0;
  }
  .info{
    padding: 40px 0;
    padding-bottom: 20px;
  }
  .info-form-field{
    width: 100%;
  }
  .info-form-field+.info-form-field{
    margin-left: 0;
    margin-top: 15px;
  }
  .info-content{
    width: 100%;
    margin-bottom: 30px;
  }
  .info-video{
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .wrapper{
    padding: 0 20px;
  }
  .products-item-title{
    font-size: 24px;
    width: 82%;
  }
  .products-item{
    padding: 25px;
  }
  .products-item-text{
    margin-bottom: 30px;
  }
  .products-item-arrow{
    bottom: 25px;
  }
  .header-content-main h3,
  .products-title,
  .info-content-title{
    font-size: 36px;
  }
  .header-content-main p{
    font-size: 17px;
  }
  .products-description{
    font-size: 17px;
  }
  .products-title{
    margin-bottom: 45px;
  }
  .header-content-exchanges li + li {
    margin-left: 6%;
  }
  .header-content-exchanges li{
    width: 28%;
  }
  .header-content-exchanges li img{
    width: 100%;
  }
  .header-content-box {
    margin-bottom: 40px;
  }
  .header-form {
    width: 112%;
  }
  .info-form{
    padding: 26px 0;
  }

}

@media screen and (max-width: 400px) {
  .header-form {
    width: 115%;
  }
}
@media screen and (max-width: 390px) {
  .header-form {
    width: 117%;
  }
}