@charset "UTF-8";
* {
  outline-style: none;
  margin: 0;
  padding: 0; }

img {
  border: 0 none; }

body {
  font-family: 'Conv_AvenirNextLTPro-Regular', 'Open Sans', 'Helvetica', 'Arial';
  font-size: 11px;
  color: #111111;
  font-weight: normal; }

b, strong {
  font-weight: 700; }

u {
  text-decoration: underline; }

s {
  text-decoration: line-through; }

p {
  margin: 0; }

i {
  font-style: italic; }

big {
  text-transform: uppercase; }

small {
  text-transform: lowercase; }

ul li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  color: #111111; }

h1 {
  font-size: 22px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

body {
  margin: 0;
  padding: 0;
  color: #444;
  float: left;
  width: 100%;
  min-width: 860px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  overflow-x: hidden; }

a:link, a:visited {
  color: #111111;
  outline: 0; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Conv_CircularStd-Bold';
  src: url("fonts/CircularStd-Bold.eot");
  src: local("☺"), url("fonts/CircularStd-Bold.woff") format("woff"), url("fonts/CircularStd-Bold.ttf") format("truetype"), url("fonts/CircularStd-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("fonts/opensans-light-webfont.eot");
  src: url("fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-light-webfont.woff2") format("woff2"), url("fonts/opensans-light-webfont.woff") format("woff"), url("fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  min-height: 100%;
  height: 100%; }


.header{
  float: left;
  width: 100%;
  height: 100%;
  background: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  max-height: 900px;
}
.wrapper{
  max-width: 1124px;
  display: block;
  margin: auto;
  padding: 0 25px;
  box-sizing: border-box;
}
.logo{
  width: 150px;
  margin: 40px 0 0 0;
}
.logo img{
  width: 100%;
  float: left;
}
